<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Home</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <div id="app">
     <common-menu current="home"></common-menu>
      <div class="ui main container">
        <!-- 基本的なコンテンツはここに記載する -->
        <div class="ui segment">
          <form class="ui form">
            <textarea rows="3" cols="20"></textarea>
            <div class="inline fields">
                <div class="field">
                  <label>カテゴリー</label>
                  <input type="text" style="width:170px;">
                    <button class="ui green button right" type="submit">投稿</button> 
                </div>
            </div>
          </form>
        </div>

       <div class="ui segment">
              <form class="ui form">
                <div class="field">
                    <label>ユーザ名</label>
                    <input type="text" placeholder="Nickname">  
                </div>

                <div class="field">
                    <label>カテゴリー名</label>
                    <input type="text" placeholder="category" >  
                </div>

                <div class="field">
                  <label>投稿日時</label>
                  <div class="inline fields">
                    <div class="field">
                      <input type="text" 
                      placeholder="_ _ _ _ /_ _ /_ _"
                       style="width:110px;">
                      <label>から</label>
                    </div>

                    <div class="field">
                      <input type="text" 
                      placeholder="_ _ _ _ /_ _ /_ _"
                      style="width:110px;">
                      <label>まで</label>
                    </div>
                  </div>
                  <div class="field"><button class="ui large grey fluid button">
        検索
        </button></div>
                </div>
              </form> 
        </div> 

        <div class="ui segment" v-for="user in filteredUsers">
          <h2 class="ui header">
            <div class="content">
              {{user.userId}}
              <div class="ui green label">{{user.age}}</div>
            </div>
            <div class="sub header">{{user.nickname}}</div>
          </h2>
        </div>
      </div>
    </div>

    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./common/menu.js" charset="utf-8"></script>
    <script src="./js/index.js" charset="utf-8"></script>
  </body>
</html>
