<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>ユーザ一覧</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <div id="app">
      <common-menu current="users"></common-menu>

      <div class="ui main container">
        <!-- 基本的なコンテンツはここに記載する -->
        <div class="ui segment">
              <form class="ui form">
                <div class="field">
                    <label>ユーザ名</label>
                    <input type="text" placeholder="Nickname" v-model="query.nickname">  
                </div>

                <div class="field">
                  <label>年齢</label>
                  <div class="inline fields">
                    <div class="field">
                      <input type="text" v-model="query.start">
                      <label>歳から</label>
                    </div>

                    <div class="field">
                      <input type="text" v-model="query.end">
                      <label>歳まで</label>
                    </div>
                  </div>
                </div>
              </form>
        </div> 
        <div class="ui segment" v-for="user in filteredUsers">
          <h2 class="ui header">
            <div class="content">
              {{user.userId}}
              <div class="ui green label">{{user.age}}</div>
            </div>
            <div class="sub header">{{user.nickname}}</div>
          </h2>
        </div>


      </div>
    </div>


    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./common/menu.js" charset="utf-8"></script>
    <script src="./js/users.js" charset="utf-8"></script>

    
  </body>
</html>
